{% extends "homepage/Header.html" %}
{% block content %}
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <!-- Brand -->
  <a class="navbar-brand" href="https://cs.illinois.edu/"><i class="fas fa-university"></i></a>

  <!-- Links -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ResearchArea:count_regis'%}">Number of Registrations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Number of Competitors</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'myprofile:coursetable'%}">Add Course</a>
    </li>
<!--    &lt;!&ndash; Dropdown &ndash;&gt;-->
<!--    <li class="nav-item dropdown">-->
<!--      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">-->
<!--        Dropdown link-->
<!--      </a>-->
<!--      <div class="dropdown-menu">-->
<!--        <a class="dropdown-item" href="#">Link 1</a>-->
<!--        <a class="dropdown-item" href="#">Link 2</a>-->
<!--        <a class="dropdown-item" href="#">Link 3</a>-->
<!--      </div>-->
<!--    </li>-->
  </ul>
  <form class="form-inline my-2 my-lg-0" >
  <i class="fab fa-facebook-square mr-sm-2" ></i>
  <i class="fab fa-instagram mr-sm-2"></i>
  <i class="fab fa-twitter-square mr-sm-2"></i>
    </form>

    <form class="form-inline my-2 my-lg-0" action="{% url 'Signin:logoff' %}" method="link">
  <button class="btn btn-primary mr-sm-2 my-2 my-sm-0 mb-2" type="submit">log off {{account}}</button>
    </form>
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--        <li class="nav-item dropdown">-->
<!--      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">-->
<!--        {{account}}-->
<!--      </a>-->
<!--      <div class="dropdown-menu">-->
<!--        <a class="dropdown-item" href="{% url 'Signin:gotoprofile' %}">go to your profile</a>-->
<!--        <a class="dropdown-item" href="{% url 'Signin:logoff' %}">log off</a>-->
<!--      </div>-->
<!--    </li>-->
<!--      </form>-->
</div>
</nav>
<br>

<!--<form>-->
<!--  <input type="text" name="search" placeholder="Search..">-->
<!--</form>-->
<!--<h2>{{account}}</h2>-->
<div class = "container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>AreaName</th>
        <th>Hits</th>
      </tr>
    </thead>
      <tbody>
         {% for row in list %}
         <tr>
             <td>{{row.AreaName}}</td>
             <td>{{row.Hits}}</td>
         </tr>
         {% endfor %}
      </tbody>
  </table>
</div>
 <form action="{% url 'Signin:gotoprofile' %}" method="link">
  <button class="btn btn-info right" type="submit">go back to your profile</button>
 </form>

 <form action="{% url 'Signin:jobtable' %}" method="link">
  <button class="btn btn-info right mt-3 " type="submit">See related Jobs</button>
 </form>
{% endblock %}