{% extends "homepage/Header.html" %}
{% block content %}
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <!-- Brand -->
  <a class="navbar-brand" href="https://cs.illinois.edu/"><i class="fas fa-university"></i></a>

  <!-- Links -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'homepage:count_regi' %}">Number of Registrations</a>
    </li>

      <li class="nav-item">
      <a class="nav-link" href="{% url 'myprofile:coursetable'%}">Add Course</a>
    </li>
    <!-- Dropdown -->
<!--    <li class="nav-item dropdown">-->
<!--      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">-->
<!--        Dropdown link-->
<!--      </a>-->
<!--      <div class="dropdown-menu">-->
<!--        <a class="dropdown-item" href="#">Link 1</a>-->
<!--        <a class="dropdown-item" href="#">Link 2</a>-->
<!--        <a class="dropdown-item" href="#">Link 3</a>-->
<!--      </div>-->
<!--    </li>-->
  </ul>
  <form class="form-inline my-2 my-lg-0" >
  <i class="fab fa-facebook-square mr-sm-2" ></i>
  <i class="fab fa-instagram mr-sm-2"></i>
  <i class="fab fa-twitter-square mr-sm-2"></i>
    </form>
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      {{account}}-->
<!--    </form>-->
<!--    <form class="form-inline my-2 my-lg-0" action="{% url 'Signin:gotoprofile' %}" method="link">-->
<!--  <button class="btn btn-primary mr-sm-2 my-2 my-sm-0 mb-2" type="submit">go to your profile</button>-->
<!--    </form>-->
    <form class="form-inline my-2 my-lg-0" action="{% url 'Signin:logoff' %}" method="link">
  <button class="btn btn-primary mr-sm-2 my-2 my-sm-0 mb-2" type="submit">log off {{account}}</button>
    </form>
</div>
</nav>
<br>

<!--<form>-->
<!--  <input type="text" name="search" placeholder="Search..">-->
<!--</form>-->
<div class = "container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Company</th>
        <th>JobTitle</th>
          <th>CityState</th>
          <th>Description</th>
          <th>JobUrl</th>
      </tr>
    </thead>
      <tbody>
         {% for row in list %}
         <tr>
             <td>{{row.Company}}</td>
             <td>{{row.JobTitle}}</td>
             <td>{{row.CityState}}</td>
             <td>  <button style="cursor: pointer;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{row.id}}">
    Description
  </button>
                  <div class="modal" id="myModal{{row.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" id = "{{row.id}}" role="document">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h1 class="modal-title" id ="myModalLabel" >Job Description</h1>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <!-- Modal body -->
          <div class="modal-body">
              <h3>{{row.Company}}</h3>
              <p>{{row.Description}}</p>
          </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

 </td>
           <td><a href="{{row.JobUrl}}" >go to the website</a></td>
         </tr>
         {% endfor %}
      </tbody>
  </table>
<!--     <div class="modal fade" id="myModal" role="dialog">-->
<!--    <div class="modal-dialog">-->

<!--      &lt;!&ndash; Modal content&ndash;&gt;-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--          <h4 class="modal-title">Modal Header</h4>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <p>Some text in the modal.</p>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->

 <form action="{% url 'Signin:gotoprofile' %}" method="link">
  <button class="btn btn-info right" type="submit">go back to your profile</button>
 </form>
    </div>
{% endblock %}