{% extends "homepage/Header.html" %}
{% block content %}
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Links -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'homepage:count_regi' %}">Number of Registrations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="competitors">Number of Competitors</a>
    </li>

    <!-- Dropdown -->
<!--    <li class="nav-item dropdown">-->
<!--      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">-->
<!--        Dropdown link-->
<!--      </a>-->
<!--      <div class="dropdown-menu">-->
<!--        <a class="dropdown-item" href="#">Link 1</a>-->
<!--        <a class="dropdown-item" href="#">Link 2</a>-->
<!--        <a class="dropdown-item" href="#">Link 3</a>-->
<!--      </div>-->
<!--    </li>-->

  </ul>
  <form class="form-inline my-2 my-lg-0" >
  <i class="fab fa-facebook-square mr-sm-2" ></i>
  <i class="fab fa-instagram mr-sm-2"></i>
  <i class="fab fa-twitter-square mr-sm-2"></i>
    </form>
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      {{account}}-->
<!--    </form>-->
<!--    <form class="form-inline my-2 my-lg-0" action="{% url 'Signin:gotoprofile' %}" method="link">-->
<!--  <button class="btn btn-primary mr-sm-2 my-2 my-sm-0 mb-2" type="submit">go to your profile</button>-->
<!--    </form>-->
    <form class="form-inline my-2 my-lg-0">
        <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'Signin:gotoprofile' %}">go to your profile</a>
        <a class="dropdown-item" href="{% url 'Signin:logoff' %}">log off</a>
      </div>
    </li>
      </form>
</div>
</nav>
<br>

<!--<form>-->
<!--  <input type="text" name="search" placeholder="Search..">-->
<!--</form>-->
<div class = "container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>CourseNum</th>
        <th>CourseName</th>
          <th></th>
      </tr>
    </thead>
      <tbody>
         {% for course_list in course_list %}
         <tr>
             <td>{{course_list.CourseNum}}</td>
             <td>{{course_list.CourseName}}</td>
           <td><a href="{% url 'Signin:addCourse' course_list.id%}">Add</a></td>
         </tr>
         {% endfor %}
      </tbody>
  </table>
<!--     <div class="modal fade" id="myModal" role="dialog">-->
<!--    <div class="modal-dialog">-->

<!--      &lt;!&ndash; Modal content&ndash;&gt;-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--          <h4 class="modal-title">Modal Header</h4>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <p>Some text in the modal.</p>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
</div>

{% endblock %}